
a{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: rgba(189, 11, 180, 0.92);
}

h6{
    font-style: italic;
    color: grey
}
img{
    border-radius: 0.55rem;
}